/* url('https://moodle.sgs.org/course/view.php?id=289') */

body {
	background-image: url("https://i.redd.it/nt7hai6h6ccz.jpg") !important;
	background-size: cover;
	//background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
	background-color:rgba(245, 245, 245, .8);
	border-radius: 5px;
	width: 200px;
	position: relative;
	margin: auto;
	color:rgb(150, 1, 8);
	
}