/*
*	url('https://moodle.sgs.org/course/view.php?id=179')
*	url('https://moodle.sgs.org/mod/forum/view.php?id=6524')
*	url-prefix('https://moodle.sgs.org/mod/assign/view.php?id=20667')
*/

body {
	background-image: url("https://i.redd.it/jh0gfb3ktvkz.jpg") !important;
}
h2 {
	background-color:rgba(245, 245, 245, 1);
}
#intro {
	background-color:rgba(245, 245, 245, 1);
}