/* URL: https://moodle.sgs.org/login/index.php */

.navbar-static-top .container, .navbar-fixed-top, .navbar-fixed-bottom, .desc, .guestform, .forgetpass, .navbar-inner, #page-footer, #page-navbar, #yui_3_17_2_1_1508538891861_30 {
	visibility: hidden !important;
}

body {
	background-image: url("https://i.imgur.com/Whha2yF.jpg") !important;
	background-size: 100%;
	
}

h1 {
	text-align: center;
}